# Arquivo de variáveis de ambiente
.env
.env.*
!.env.example

# Pasta de dependências
node_modules/

# Logs e erros
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Cobertura de testes
coverage/

# Sistema
.DS_Store
Thumbs.db
